.login, .leaderboard p, .news p{
	text-align:center;
}
.leaderboard table{
	margin-bottom:30px;
}
input[type=submit]{
	width:100%;
}
.item iframe, .item img{
	height:635px;
}
.challenge, .prank, .quiz, .news, .duel, .social{
	margin-bottom:10px;
}
.challenge{
	background-color:black;
}
.prank{
	background-color:orange;
}
.quiz{
	background-color:aqua;
}
.final{
	background-color:black;
}
@media only screen and (max-width: 736px) and (max-height: 414px) and (orientation: landscape){
	.sectionslider, .item, .item img, .item iframe{
		height:320px;
	}
	.row h1{
	text-align:center;
	font-size:16pt;
	}
	.challenge button, .prank button, .quiz button{
		margin: 0 auto;
		display: block;
		margin-top:250px;
		width:115px;
	}
	.social button{
		margin: 0 auto;
		display: block;
		width:100%;
	}
	.news button{
		margin: 0 auto;
		display: block;
	}
	.social p{
		text-align:center;
	}
	.sectionslider{
		padding-left:0px;
		padding-right:0px;
	}
	.article img, .duel td img{
		width:100%;
		height:auto;
	}
	.duel{
		height:auto;
	}
	.duel table tr, .duel table tr td, .leaderboard table tr, .leaderboard table tr td{
		padding-top:10px;
		padding-bottom:10px;
		border:1px solid black;
	}
}
@media only screen and (max-height: 360px) and (orientation: landscape){
	.sectionslider, .item, .item img, .item iframe{
		height:360px;
	}
}
@media only screen and (max-height: 320px) and (orientation: landscape){
	.sectionslider, .item, .item img, .item iframe{
		height:320px;
	}
}
@media only screen and (max-width: 414px) and (max-height: 736px) and (orientation: portrait){
	.sectionslider, .item, .item img, .item iframe{
		height:200px;
	}
	.row h1{
	text-align:center;
	font-size:16pt;
	}
	.challenge button, .prank button, .quiz button{
		margin: 0 auto;
		display: block;
		margin-top:150px;
		width:115px;
	}
	.social button{
		margin: 0 auto;
		display: block;
		width:100%;
	}
	.news button{
		margin: 0 auto;
		display: block;
	}
	.social p{
		text-align:center;
	}
	.sectionslider{
		padding-left:0px;
		padding-right:0px;
	}
	.article img, .duel td img{
		width:100%;
		height:auto;
	}
	.duel{
		height:auto;
	}
	.duel table tr, .duel table tr td, .leaderboard table tr, .leaderboard table tr td, .leaderboard table th{
		padding-top:10px;
		padding-bottom:10px;
		border:1px solid black;
	}
}