p{
	padding:10px;
}
.box1{
	background-color:black;
	margin:10px 0px;
}
.box2{
	background-color:orange;
	margin:10px 0px;
}
@media only screen and (max-width: 736px) and (max-height: 414px) and (orientation: landscape){
	.sectionslider, .item, .item img, .item iframe{
		height:200px;
	}
	.row h1{
	text-align:center;
	font-size:16pt;
	}
	.social button{
		margin: 0 auto;
		display: block;
		width:100%;
	}
	.social p{
		text-align:center;
	}
	.sectionslider{
		padding-left:0px;
		padding-right:0px;
	}
	.article img{
		width:100%;
		height:auto;
	}
	.check1 input[type=radio], .check2 input[type=radio], .check3 input[type=radio], .check4 input[type=radio], .check5 input[type=radio], .check6 input[type=radio]{
		width:30px;
		position:absolute;
		top:0;
		left:0;
		transform: scale(2);
		margin-top:10px;
	}
	.check1{
		background-color:black;
		height:100px;
	}
	.check2{
		background-color:red;
		height:100px;
	}
	.check3{
		background-color:blue;
		height:100px;
	}
	.check4{
		background-color:green;
		height:100px;
	}
	.check5{
		background-color:orange;
		height:100px;
	}
	.check6{
		background-color:aqua;
		height:100px;
	}
	form button{
		margin:10px 0px;
		width:100%;
	}
	button{
		width:100%;
	}
}
@media only screen and (max-height: 360px) and (orientation: landscape){
	.sectionslider, .item, .item img, .item iframe{
		height:360px;
	}
}
@media only screen and (max-height: 320px) and (orientation: landscape){
	.sectionslider, .item, .item img, .item iframe{
		height:320px;
	}
}
@media only screen and (max-width: 414px) and (max-height: 736px) and (orientation: portrait){
	.sectionslider, .item, .item img, .item iframe{
		height:200px;
	}
	.row h1{
	text-align:center;
	font-size:16pt;
	}
	.social button{
		margin: 0 auto;
		display: block;
		width:100%;
	}
	.social p{
		text-align:center;
	}
	.sectionslider{
		padding-left:0px;
		padding-right:0px;
	}
	.article img{
		width:100%;
		height:auto;
	}
	.check1 input[type=radio], .check2 input[type=radio], .check3 input[type=radio], .check4 input[type=radio], .check5 input[type=radio], .check6 input[type=radio]{
		width:20px;
		position:absolute;
		top:0;
		left:0;
	}
	.check1{
		background-color:black;
		height:100px;
	}
	.check2{
		background-color:red;
		height:100px;
	}
	.check3{
		background-color:blue;
		height:100px;
	}
	.check4{
		background-color:green;
		height:100px;
	}
	.check5{
		background-color:orange;
		height:100px;
	}
	.check6{
		background-color:aqua;
		height:100px;
	}
	form button{
		margin:10px 0px;
		width:100%;
	}
	button{
		width:100%;
	}
}